body {
    background-color: orchid;
}

h1 {
    font-size: 3rem;
    /* border: 1px red solid; */
    text-align: center;
  /* border: 1px red solid; */
    margin-top: 300px;
}

#secondH1 {

}


.letter {
    transition: color 500ms;
}