body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    background-color: blue;
}


h1 {
    font-size: 20rem;


}

.letter {
    transition: color 1000ms;
}